### Duvidas:

- Total de  colunas: 11
    - so  muda quando avisar
- Qual eh a origem desses relatorios?
    - Eles sao extraidos do sistema de  vendas
- Data eh a data de realizacao da venda?
    - sim
- nome da aba eh sempre dados?
    - sim
- Quem sao os compradores?
    - o nome do arquivo tem algo  a ver com isso?
        - nome do arquivo eh coinfigurado da seguinte  forma: nome do seg - pais onde foi realizada a venda

Passo a passo:


- Criar uma nova planilha em branco
- replicar as  colunas que existem nos relatorios(11 colunas)
- inserir  2  colubas  novas  seg  e pais
- percoirrer todos os arquivos, copiar  e  colar os dados na  planilha consolidado e  preencher  as  informacoes de  segmento e pais

In [54]:
import pandas as pd
import os

In [69]:
colunas = [
    'Segmento',
    'Pais',
    'Produto', 
    'Qtde de Unidades Vendidas',	
    'Preço Unitário'a, 
    'Valor Total', 
    'Desconto', 
    'Valor Total c/ Desconto', 
    'Custo Total', 
    'Lucro', 
    'Data', 
    'Mês', 
    'Ano'
]
consolidado4 = pd.DataFrame(columns=colunas)

In [70]:
consolidado4

Empty DataFrame
Columns: [Segmento, Pais, Produto, Qtde de Unidades Vendidas, Preço Unitário, Valor Total, Desconto, Valor Total c/ Desconto, Custo Total, Lucro, Data, Mês, Ano]
Index: []

In [71]:
arquivos = os.listdir('C:\\Users\\lucas\\OneDrive\\Documentos\\Estudos\\python\\projetos_praticos\\Projeto1\\planilhas')

In [73]:
for excel in arquivos:

    if excel.endswith('.xlsx'):
        dados_arquivo = excel.split('-')
        segmento = dados_arquivo[0]
        pais = dados_arquivo[1].replace('.xlsx', '')
        
        try:
            df = pd.read_excel(f'planilhas\\{excel}')
            df.insert(0, 'Segmento', segmento)
            df.insert(1, 'País', pais)        
            consolidado4 = consolidado4.append(df)
        except:
            with open('log_erros.txt', 'w') as arquivo:
                arquivo.write(f'Erro ao tentar consolidar o arquivo {excel}.')
    else:
        with open('log_erros.txt', 'w') as arquivo:
            arquivo.write(f'O arquivo {excel} não é um arquivo Excel válido!')

In [75]:
consolidado4

Empty DataFrame
Columns: [Segmento, Pais, Produto, Qtde de Unidades Vendidas, Preço Unitário, Valor Total, Desconto, Valor Total c/ Desconto, Custo Total, Lucro, Data, Mês, Ano]
Index: []

In [53]:
consolidado2.to_excel('report.xlsx', index=False)